body {
    background: #8E0E00;
    background: linear-gradient(to right, #8E0E00, #1F1C18 );
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    text-align: center;
}
h3 {
    color: white;
}
h1 {
    color: white;
}
button {
    background-color: #434343;
    padding: 20px 40px;
    border-radius: 60px;
    color: aliceblue;
}
input {
    padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}