h1{
    font-family:'Courier New', Courier, monospace;
    color: blue;
}

h1{
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 238, 255);
}

h1{
    font-family:'Courier New', Courier, monospace;
    color: greenyellow;
}